* {
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
}

.header-wrapper {
    background-color: rgba(177, 162, 150, 0.7);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    margin-left: 20px;
}

.logo_img {
    margin: 15px;
    width: 50px;
    height: 50px;
}

.logo_text {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 20px;
}

.search_text {
    border-radius: 50px;
    width: 250px;
    height: 35px;
    padding-left: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.search_clean {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 27px;
    right: 45px;
    cursor: pointer;
}

.search_search-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 27px;
    right: 15px;
    cursor: pointer;
}

.image-container {
    background-image: linear-gradient(45deg, #379683, #7395AE, #557A95);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.gallery-img:hover {
    transform: scale(1.1);
}

.gallery-img.nonactive {
    display: none;
}

.footer-wrapper {
    background-color: rgba(177, 162, 150, 0.7);
    display: flex;
    justify-content: space-between;
}

.git-info {
    display: flex;
    width: 200px;
    cursor: pointer;
    align-items: center;
    margin: 0 20px;
}

.git-pic {
    width: 30%;
    height: 70%;
    margin: 2px;
}

.footer-text {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 25px;
    width: 70%;
    text-align: center;
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.course-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.logo-pic {
    width: 150px;
    height: 100px;
}

.link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}


